
@font-face {
  font-family: 'Gasalt-Black';
  src: url('./fonts/Gasalt-Black.otf');
}

@font-face {
  font-family: 'Gasalt-Regular';
  src: url('./fonts/Gasalt-Regular.otf');
}

@font-face {
  font-family: 'Gasalt-Thin';
  src: url('./fonts/Gasalt-Thin.otf');
}